<div class="faq-container mb-5">
  <h2 class="mt-5"><%= t('faq_title') %></h2>
  <div class="faq faq-card" data-controller="faq" data-faq-target="faqItem" data-action="click->faq#toggle">
    <div class="question">
      <h3><%= t('faq_question1') %></h3>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="answer">
      <p>
        <%= t('faq_answer1') %>
      </p>
    </div>
  </div>

  <div class="faq faq-card" data-controller="faq" data-faq-target="faqItem" data-action="click->faq#toggle">
    <div class="question">
      <h3><%= t('faq_question2') %></h3>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="answer">
      <p>
        <%= t('faq_answer2') %>
      </p>
    </div>
  </div>

  <div class="faq faq-card" data-controller="faq" data-faq-target="faqItem" data-action="click->faq#toggle">
    <div class="question">
      <h3><%= t('faq_question3') %></h3>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="answer">
      <p>
        <%= t('faq_answer3') %>
      </p>
    </div>
  </div>

  <div class="faq faq-card" data-controller="faq" data-faq-target="faqItem" data-action="click->faq#toggle">
    <div class="question">
      <h3><%= t('faq_question4') %></h3>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"/>
      </svg>
    </div>
    <div class="answer">
      <p>
        <%= t('faq_answer4') %>
      </p>
    </div>
  </div>
</div>